section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

section div {
    display: flex;
    justify-content: space-between;
}

h2 {
    background: #67cca0;
    color: #ffffff;
    border: 2px solid #3e1776;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px 15px #808080;
}

article {
    width: 45%;
    margin: auto;
    text-align: justify;
}

article img {
    margin-left: 30%;
    width: 70%;
    height: 70%;
}

article img:hover {
    animation: 5s linear infinite rotacion;
}

article ul li {
    list-style-image: url("/images/pelota-icono.gif");
}

@keyframes rotacion {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@media screen and (max-width: 500px) {
    section {
        flex-direction: column;
    }

    article {
        width: 100%;
    }
}
