
#statsEquipo {
    width: 80%;
    margin: auto;
}

#statsEquipo th, #statsEquipo td {
    width: 16.6%;
}

#statsEquipo td {
    text-align: center;
}

.fila-cerrada {
    display: none;
}

@media screen and (max-width: 767px) {
    .fila-ampliada {
        display: none;
    }

    .fila-cerrada {
        display: table-row;
    }

    .fila-cerrada th {
        text-align: center;
    }
}
