#contenido {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    font-size: 15px;
    text-align: justify;
}

h1, h2 {
    background: #67cca0;
    color: #ffffff;
    border: 2px solid #3e1776;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px 15px #808080;
}

section {
    display: flex;
    flex-direction: column;
}

section div {
    display: flex;
    justify-content: space-between;
}

article {
    width: 45%;
}

article ul li {
    list-style-image: url("/images/pelota-icono.gif");
}

video {
    width: 100%;
}

@media screen and (max-width: 800px) {
    section div {
        flex-direction: column;
    }

    article {
        width: 100%;
    }
}
